.projects {
    padding: 0.5rem 1rem;
    background-color: #ADD8E6;
    color: #1a759f;
    text-align: center;
    font-size: 1.5em;
    font-family: cursive;
    font-style: serif;
}

.projects-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
    gap: 1.5rem;
}

.item {
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    transition: transform 0.3s;
}

.project-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: -0.5px;
    color: #483D8B; /* Adjust the color as needed */
}

.project-date {
    font-size: 1rem;
    margin-top: -0.5px;
    margin-bottom: 10px;
    color: #6c757d; /* Adjust the color as needed */
}

.project-description {
    font-size: 0.8rem;
    color: #333;
    line-height: 1.5;
    padding:5px;
    text-align: justify;
}

.project-image {
    max-width: 320px; /* Adjust the size of the image */
    margin-right: 15px; /* Space between the image and the text */
    border-radius: 8px; /* Optional: Rounds the corners of the image */
}

.item:hover {
    transform: scale(1.05);
}

.certifications {
    margin-top: 2rem;
}
.certification-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 1rem;
}

.certification-logo {
    width: 100px; /* Adjust size as needed */
    height: auto;
}

/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; /* Hidden by default */
    align-items: center;
    justify-content: center;
    z-index: 1000; /* On top of other content */
}

.modal.active {
    display: flex; /* Show when active */
}

.modal-content {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 60%;
    max-height: 80%;
    overflow-y: auto; /* Allow scrolling if content overflows */
    position: relative;
}

.modal-content img {
    max-width: 25%;
    height: auto;
    margin-bottom: 20px;
}

.modal-content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.modal-content p {
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
    text-align: justify;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #333;
}


