.scrollTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #3498db;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;
  display: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s;
}

.scrollTop:hover {
  background-color: #2980b9;
}
